<ion-header>
  <ion-item>
    
  <ion-button fill="clear" class="icon" (click)="Voltarpagina()">
    <ion-icon name="arrow-back-sharp"></ion-icon>
  </ion-button>
  
  <ion-title class="titulo">Gerenciamento de Tênis</ion-title>

  <ion-button fill="clear" class="icon" disabled>
    <ion-icon name="add-sharp" class="oculto"></ion-icon>
  </ion-button>

</ion-item>
</ion-header>

<ion-content>

  <ion-accordion-group expand="inset">

    <ion-accordion value="1" >
      <ion-item slot="header" color="light">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Tênis preto</ion-label>
          <ion-note class="distancia">50.7km</ion-note>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-button>Aposentar</ion-button>
        <ion-button>Editar</ion-button>
        <ion-button>Excluir</ion-button>
      </div>
    </ion-accordion>

    <ion-accordion value="2">
      <ion-item slot="header" color="light">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Tênis preto</ion-label>
          <ion-note class="distancia">50.7km</ion-note>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-button>Aposentar</ion-button>
        <ion-button>Editar</ion-button>
        <ion-button>Excluir</ion-button>
      </div>
    </ion-accordion>

    <ion-accordion value="3">
      <ion-item slot="header" color="light">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Tênis preto</ion-label>
          <ion-note class="distancia">50.7km</ion-note>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-button>Aposentar</ion-button>
        <ion-button>Editar</ion-button>
        <ion-button>Excluir</ion-button>
      </div>
    </ion-accordion>

    <ion-accordion value="4">
      <ion-item slot="header" color="light">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Tênis preto</ion-label>
          <ion-note class="distancia">50.7km</ion-note>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-button>Aposentar</ion-button>
        <ion-button>Editar</ion-button>
        <ion-button>Excluir</ion-button>
      </div>
    </ion-accordion>

    <ion-accordion value="5" disabled>
      <ion-item slot="header" color="light">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Tênis preto</ion-label>
          <ion-note class="distancia">50.7km</ion-note>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-button>Aposentar</ion-button>
        <ion-button>Editar</ion-button>
        <ion-button>Excluir</ion-button>
      </div>
    </ion-accordion>

    <ion-accordion value="6" disabled>
      <ion-item slot="header" color="light">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Tênis preto</ion-label>
          <ion-note class="distancia">50.7km</ion-note>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-button>Aposentar</ion-button>
        <ion-button>Editar</ion-button>
        <ion-button>Excluir</ion-button>
      </div>
    </ion-accordion>
    
  </ion-accordion-group>

</ion-content>
