<ion-header>
  <ion-item>
    
  <ion-button fill="clear" class="icon" (click)="Voltarpagina()">
    <ion-icon name="arrow-back-sharp"></ion-icon>
  </ion-button>
  
  <ion-title class="titulo">Configurações de Corrida</ion-title>

  <ion-button fill="clear" class="icon" disabled>
    <ion-icon name="add-sharp" class="oculto"></ion-icon>
  </ion-button>

</ion-item>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-title class="titulo">Titulo</ion-title>
  </ion-grid>

  <ion-grid class="divisor"></ion-grid>

  <ion-grid class="opcao">
    <ion-col>
      <ion-title>teste</ion-title>
    </ion-col>

    <ion-col>
      <ion-title>teste</ion-title>
    </ion-col>
  </ion-grid>

  <ion-grid class="divisor"></ion-grid>

  <ion-grid>
    <ion-title class="titulo">Titulo</ion-title>
  </ion-grid>

  <ion-grid class="divisor"></ion-grid>

  <ion-grid class="opcao">
    <ion-col>
      <ion-title>teste</ion-title>
    </ion-col>

    <ion-col>
      <ion-title>teste</ion-title>
    </ion-col>
  </ion-grid>

  <ion-grid class="divisor"></ion-grid>

  <ion-grid>
    <ion-title class="titulo">Titulo</ion-title>
  </ion-grid>

  <ion-grid class="divisor"></ion-grid>

  <ion-grid class="opcao">
    <ion-col>
      <ion-title>teste</ion-title>
    </ion-col>

    <ion-col>
      <ion-title>teste</ion-title>
    </ion-col>
  </ion-grid>

  <ion-grid class="divisor"></ion-grid>

  <ion-grid>
    <ion-title class="titulo">Titulo</ion-title>
  </ion-grid>

  <ion-grid class="divisor"></ion-grid>

  <ion-grid class="opcao">
    <ion-col>
      <ion-title>teste</ion-title>
    </ion-col>

    <ion-col>
      <ion-title>teste</ion-title>
    </ion-col>
  </ion-grid>

  <ion-grid class="divisor"></ion-grid>

  <ion-grid>
    <ion-title class="titulo">Titulo</ion-title>
  </ion-grid>

  <ion-grid class="divisor"></ion-grid>

  <ion-grid class="opcao">
    <ion-col>
      <ion-title>teste</ion-title>
    </ion-col>

    <ion-col>
      <ion-title>teste</ion-title>
    </ion-col>
  </ion-grid>

</ion-content>
