<ion-content>
  
  <ion-grid id="map"></ion-grid>

  <ion-grid class="botoes">

    <ion-row class="config">
      <ion-button id="configuracoes" fill="clear" (click)="IrparaConfigCorrida()">
        <ion-icon slot="icon-only" name="cog-sharp"></ion-icon>
      </ion-button>
    </ion-row>

    <ion-row class="iniciar">
      <ion-button id="iniciar" fill="clear">
        <ion-icon name="play-sharp"></ion-icon>
      </ion-button>
    </ion-row>

    <ion-row class="tenis">
      <ion-button id="tenis" fill="clear" (click)="IrparaTenis()">
        <ion-icon slot="icon-only" name="footsteps-sharp"></ion-icon>
      </ion-button>
    </ion-row>

  </ion-grid>

</ion-content>
