<ion-content>
  
 <ion-grid class="main">
  <ion-col class="mensagem">
    <ion-title>Nada por enquanto</ion-title>
    <ion-title>Experimente correr!</ion-title>
  </ion-col>

  <ion-col class="historico">
    <ion-accordion-group expand="inset">

      <ion-accordion value="1" >
        <ion-item slot="header" color="light">
            <ion-thumbnail slot="start">
              <img alt="Mapa" src="../../../assets/mapaTeste.png" />
            </ion-thumbnail>
            <ion-label>03/06/2024 - 10:30</ion-label>
        </ion-item>

        <div class="ion-padding" slot="content">
          <div class="teste">
            <div class="lado">
              <ion-title>20</ion-title>
              <ion-title>KM</ion-title>
            </div>
    
            <div class="lado">
              <ion-title>45</ion-title>
              <ion-title>Min</ion-title>
            </div>
    
            <div class="lado">
              <ion-title>4'04''</ion-title>
              <ion-title>Pace médio</ion-title>
            </div>
    
            <div class="lado">
              <ion-title>246</ion-title>
              <ion-title>Calorias</ion-title>
            </div>
    
            <div class="img">
              <ion-img src="../../../assets/mapaTeste.png" alt="Mapa"></ion-img>
            </div>

            <ion-button>Excluir</ion-button>
          </div>
        </div>
      </ion-accordion>
      
    </ion-accordion-group>

  </ion-col>

 </ion-grid>
  
</ion-content>
