<ion-header>
  <ion-item class="barra-topo">
    
  <ion-button fill="clear" class="icon" (click)="IrparaConfig()">
    <ion-avatar>
      <img alt="Foto de perfil" [src]="fotoperfil" />
    </ion-avatar>
  </ion-button>
  
  <ion-title class="titulo">Atividades</ion-title>

  <ion-button fill="clear" class="icon" disabled>
    <ion-icon name="add-sharp" class="oculto"></ion-icon>
  </ion-button>

</ion-item>
</ion-header>

<ion-header>
  <!-- ... (seu código existente) ... -->
</ion-header>

<ion-content>
  <ion-title>Corpo</ion-title>
  <ion-card class="cardTituloExercicio" *ngFor="let exercicio of atividade; let i = index">
    <ion-card-header *ngIf="isTargetDifferent(i)">
      <ion-card-title *ngIf="isTargetDifferent(i)">{{ exercicio.target }}</ion-card-title>
      <ion-card-subtitle *ngIf="isTargetDifferent(i)"><p class="tituloExercicio">10 TREINOS DE</p></ion-card-subtitle>
    </ion-card-header>
  
    <!-- <ion-card-content *ngIf="isTargetDifferent(i)">
      Here's a small text description for the card content. Nothing more, nothing less. lorem
    </ion-card-content> -->
  </ion-card>
  <ion-card class="cardExercicios" *ngFor="let exercicio of atividade; let i = index">
    <ion-card-header *ngIf="isTargetDifferent(i)">
      <ion-card-title *ngIf="isTargetDifferent(i)"> </ion-card-title>
      <ion-img
      style="height: 100px;"
        src="../../../assets/atividadesImages/0088.jpeg"
        alt="The Wisconsin State Capitol building in Madison, WI at night"
      ></ion-img>
      <ion-card-subtitle *ngIf="isTargetDifferent(i)">Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <!-- <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content> -->
  </ion-card>
  <ion-list>
    <ion-item *ngFor="let exercicio of atividade">
      <ion-label>{{ exercicio.name }}</ion-label>
      <ion-img [src]="exercicio.gifUrl"></ion-img>
      <ion-title>Equipamento: {{ exercicio.equipment }}</ion-title>
      <ion-title>Alvo: {{ exercicio.target }}</ion-title>
      <ion-title>Sinegistas: {{ exercicio.secondaryMuscles.join(', ') }}</ion-title>
      <ion-title>Instruções:</ion-title>
      <ul>
        <li *ngFor="let instrucao of exercicio.instructions">{{ instrucao }}</li>
      </ul>
    </ion-item>
  </ion-list>
  <ion-img
  style="height: 100px;"
    src="../../../assets/atividadesImages/0088.jpeg"
    alt="The Wisconsin State Capitol building in Madison, WI at night"
  ></ion-img>
</ion-content>

